{% extends "base.html" %}

{% block content %}
    <h1>{{ thread.name }}</h1>
    <p class="small">Proposé par <a href="#">{{ thread.author }}</a></p>
    <h5>{{ thread.description }}</h5>

    {% if user.is_authenticated %}
      <form method="post" action="{% url 'forum:detail' thread.id %}">
        {% csrf_token %}
        <div class="my-3">
          <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
          <textarea placeholder="commentaire" name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Poster</button>
        </div>
      </form>
    {% endif %}

    {% if error %}
    <div class="my-3 alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}

    {% if thread.messages.all %}
        {% for message in thread.messages.all %}
            <div class="my-3">
                <div class="card">
                  <div class="card-body">
                    <p class="mb-1 small">Écrit par <a href="#">{{message.author}}</a></p>
                    <p>{{ message.message }}</p>
                  </div>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No messages yet.</p>
    {% endif %}

{% endblock content %}
