{% extends "base.html" %}

{% block content %}
<h1>Welcome to the forum</h1>
{% if user.is_authenticated %}
<p>Hello {{user.username}}!</p>
{% endif %}

{% if threads %}
    {% for thread in threads %}
    <a class="no-style" href="{% url 'forum:detail' thread.id %}">
        <div class="card mb-3">
          <div class="card-header">

            <div class="row">
              <div class="col-auto px-0">
                <form method="post" action="{% url 'forum:vote' thread.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link">
                    <span class="badge bg-{% if user in thread.voters.all %}danger{% else %}secondary{% endif %}">{{ thread.voters.all.count }}</span>
                  </button>
                </form>
              </div>
              <div class="col-auto px-0">
                <h4 class="mb-1">{{ thread.name }}</h4>
              </div>
            </div>
            <p class="mb-0 small">Suggested by <a href="#">{{ thread.author }}</a></p>
          </div>
          <div class="card-body">
            <p class="card-text">{{ thread.description }}</p>
          </div>
          <div class="card-footer text-muted">
            {{ thread.messages.count }} message{% if thread.messages.count > 1 %}s{% endif %}
          </div>

        </div>
    </a>
    {% endfor %}
{% else %}
  <div class="alert alert-secondary" role="alert">
    No thread yet.
  </div>
{% endif %}
{% endblock content %}